.authBody {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  padding: 1rem;
  background-color: #f9fafc;
}
