.aside {
  width: 220px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  min-height: calc(100vh - 64px);
}

.activeLink {
  background-color: #3a57e8;
  color: #fff;

  .MuiListItemIcon-root,
  .MuiListItemText-root {
    color: #fff;
  }
}
